.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.tag {
    padding: .3rem .7rem;
    border-radius: 999px;
    background: #f8f9fa;
    border: 1px solid #cfd4da;
    font-size: .9rem;
    font-weight: 500;
}
